@mixin button {
  background-color: transparent;
  border: solid;
  border-radius: 3px;
  cursor: pointer;
  font-family: "Quicksand", sans-serif;
  font-size: 12pt;
  font-weight: bold;
  padding: 5px 10px 5px 10px;
}

.show-pantry-recipes-btn,
.filter-btn {
  @include button;
  border-color: $primary-background;
  color: $primary-background;

  &:hover {
    background-color: $primary-background;
    color: $white;
  }
}

.show-pantry-recipes-btn {
  margin-top: 10px;
}

.show-all-btn {
  @include button;
  height: 40px;
  width: 200px;
  margin-top: 20px;
  border-color: $white;
  color: $white;

  &:hover {
    background-color: $white;
    color: $brand-accent-dark;
  }
}
