aside {
  background-color: $white;
  display: flex;
  justify-content: center;
  height: auto;
  text-align: center;
}

.wrap {
  background-color: $white;
  height: 100vh;
  padding: 10px;
  position: relative;
  width: 200px;
}

ul {
  list-style-type: none;
  text-align: left;
  padding-left: 35px;
}

li {
  margin: 2px;
}

.mobile-aside-hdr {
  display: none;
}

@media only screen and (max-width: 800px) {
  aside {
    position: absolute;
    display: none;
    flex-direction: column;
    box-shadow: 0 5px 10px black;
    z-index: 9999;

    .mobile-aside-hdr {
      background-color: #5B7894;
      height: 3.5rem;
      display: flex;
      justify-content: flex-start;
    }
  }

  .open {
    display: flex;
  }
}